<%- include('partials/header') %>
	<div class="jumbotron jumbotron">
	  <h1 class="display-3"><%= title %></h1>
	  <p class="lead">All Clients: <strong>/api/users</strong><br>
    Client by card number: <strong>/api/client/####</strong>(example /api/client/999999) </p>
	  <hr class="my-4">
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
	    <a class="btn btn-primary btn-lg" href="/reg" role="button">Register</a>
    </p>
	</div>
    
<%- include('partials/footer') %>