<%- include('partials/header') %>
  <div class="jumbotron jumbotron">
    <h1 class="display-3"><%= title %></h1>
    <p class="lead">ATM APP</p>
    <hr class="my-4">
    <!--<p>Available actions: Login, Register, Withdraw, Deposit, API</p> -->
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      <a class="btn btn-primary btn-lg" href="/reg" role="button">Register</a>

    </p>
  </div>
<%- include('partials/footer') %>

